<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>News example template</title>
</head>

<body>

<h1>BLOGLIST TEMPLATES</h1>
<h2>EXAMPLE</h2>






<br />
<br />
<br />
<strong>Global markers, as set up in TypoScript:</strong>
These are substituted throughout the whole template.

<em>Markers:</em>
ADDITIONALHEADER               - marker for additional header content

GRAVATAR                       - gravatar image from gravatar.com by author_email
TITLE                          - title of the bloglist page
CATEGORY                       - category name of the bloglist page
AUTHOR                         - author of the bloglist page
AUTHOR_EMAIL                   - author_email of the bloglist page
TX_TYPO3BLOG_CREATE_DATETIME   - tx_typo3blog_create_datetime of the bloglist page
TX_TYPO3BLOG_TAGS              - tx_typo3blog_tags of the bloglist page
PAGECONTENT                    - tt_content of the blogpage page
SHOWMORE                       - show more link to blog page

ADDITIONALFOOTER               - marker for additional footer content
PAGEBROWSER                    - marker for pagebrowse extension


<br /><br /><br /><br /><hr />
<br />
<h3>BLOGLIST_TEMPLATE</h3>
<em>This is the template for the list of posts, typically displayed on a frontpage.</em>
<br />
<br />
<br />
<br />


<!-- ###BLOGLIST_TEMPLATE### begin-->
###ADDITIONALHEADER###
<!--###ITEM### begin -->
<article id="post###BLOGLIST_UID###">
	###GRAVATAR###
	###TITLE###
	<ul class="breadcrumb">
		###CATEGORY###
		###AUTHOR###
		###AUTHOR_EMAIL###
		###TX_TYPO3BLOG_CREATE_DATETIME###
		###TX_TYPO3BLOG_TAGS###
	</ul>
	###PAGECONTENT###
	###SHOWMORE###
	<hr />
</article>
<!--###ITEM### end -->
###ADDITIONALFOOTER###
###PAGEBROWSER###
<!-- ###BLOGLIST_TEMPLATE### end -->



</body>
</html>
