<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bootstrap, from Twitter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="../assets/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
	<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>
<!-- ###DOCUMENT_BODY### -->
<!--TYPO3SEARCH_end-->
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Project name</a>
			<!-- ###TOPLEVEL_NAV###-->
			<!-- ###TOPLEVEL_NAV###-->

			<!-- ###INDEXSEARCHBOX###-->
			<!-- ###INDEXSEARCHBOX###-->
			<div class="nav-collapse pull-right">
				<!-- ###SEXYBOOKMARKS_PI2### -->
				<!-- ###SEXYBOOKMARKS_PI2### -->
			</div>
		</div>
	</div>
</div>
<div class="page-header">
	<header class="header">
		<div class="container">
			<span class="header-logo"></span>
			<h1>&#123;Typo3 Blog Extension&#125; <small>bootstrap sample layout</small></h1>
		</div>
	</header>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8">
			<!-- ###CONTENT_NORMAL### -->
			<!-- ###CONTENT_NORMAL### -->
		</div>
		<div class="span4">
			<!-- ###CONTENT_RIGHT### -->
			<!-- ###CONTENT_RIGHT### -->
		</div>
	</div>
</div> <!-- /container -->

<div class="extended_main">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<!-- ###EXTENDED_NORMAL_1### -->
				<!-- ###EXTENDED_NORMAL_1### -->
			</div>
			<div class="span4">
				<!-- ###EXTENDED_NORMAL_2### -->
				<!-- ###EXTENDED_NORMAL_2### -->
			</div>
			<div class="span4">
				<!-- ###EXTENDED_NORMAL_3### -->
				<!-- ###EXTENDED_NORMAL_3### -->
			</div>
		</div>
	</div>
</div>
<footer class="page-footer">
	<div class="container">
		<p>Blog sample with typo3_blog extension </p>
	</div>
</footer>

<!-- ###DOCUMENT_BODY### -->
<!-- Le javascript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>

</body>
</html>